body {
  background-color: #eee;
}

aside{
	font-size: 20px;
}
form{
	font-size: 20px;
}


.main-header {
    text-align: center;
    padding: 10px 0;
    background: #f4645f;
    color: #fff;
    background-image: url(/static/img/header.jpg);
}
.main-header-h1{
	font-size: 60px;
	font-family: "微软雅黑";
}
.main-header-a-h1{
  font-size: 60px;
  font-family: "微软雅黑";
  color: #000000;
}


.sidebar .widget {
  background: #ffffff;
  padding: 21px 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #f4645f;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.pms-red{
  color: red;
}
.welcome{
  color: #FF6A6A;
  font-size: 45px;
  font-family: "微软雅黑";
}
.pms-a{
  font-size: 25px;
}
.pms-bg-white{
  background-color: white;
  padding: 15px;
}
.pms-delete{
  color:#FF0000; 
}
.pms-thead{
  font-size: 20px;
}
.pms-use{
  color:white; 
}
.text-align{
  text-align:center;
}