<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>停车信息</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- jQuery文件 -->
    <script src="/static/js/jquery-3.1.0.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- 我的样式 pms.css 文件 -->
    <link rel="stylesheet" href="/static/css/pms.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</head>
<!-- head.html -->
<%include head.html%>

    <body>
        <form class="col-sm-offset-1 col-sm-8 pms-bg-white form-horizontal" role="form" method="post" action="/home/staff/confirmcharge">

            <h1 align="center">停车信息</h1>
            <br>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">停车卡号：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="c_id" value="<%=c_id%>" readonly="readonly">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">所停车位：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="p_no" value="<%=p_no%>" readonly="readonly">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">车位大小：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="size" value="<%=size%>" readonly="readonly">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">进入时间：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="in_time" value="<%=in_time%>" readonly="readonly">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">离开时间：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="out_time" value="<%=out_time%>" readonly="readonly">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">应付金额：</label>
                <div class="col-sm-4">
                    <input type="text" name="cost" readonly="readonly" id="cost" readonly="readonly">元
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-6">
                    <button type="submit" class="btn btn-primary">确认收费</button>
                </div>
            </div>

    </body>
    <script>
        //获取收费标准
        var dayprice = <%=dayprice%>;   //每日收费
        var price1 = <%=price1%>;       //高峰收费
        var price2 = <%=price2%>;       //普通收费
        var time1 = "<%=time1%>";       //高峰时间开始
        var time2 = "<%=time2%>";       //高峰时间结束
        var size = <%=size%>;           //车位大小
        console.log("size:" + size);
        //传入车位大小，进入时间，离开时间
        var result = calc(size, new Date("<%=in_time%>"), new Date("<%=out_time%>"));

        console.log("All cost =" + result);

        document.getElementById('cost').value = result;

        function calc(size, in_time, out_time) {
            var cost1 = calcCost1(getEnd(in_time), getStart(out_time));
            console.log("cost1:" + cost1)
            var cost = 0;
            console.log("[cost1]" + cost1);

            if (in_time.getFullYear() == out_time.getFullYear() && in_time.getMonth() == out_time.getMonth() && in_time.getDate() == out_time.getDate()) {
                var cost = calcCost2(in_time, out_time);
                console.log("[cost:]" + cost);

                cost = cost >= dayprice ? dayprice : cost;

                console.log("current day [cost:]" + cost);
            } else {
                var cost2 = calcCost2(in_time, getEnd(in_time));
                var cost3 = calcCost2(getStart(out_time), out_time);

                console.log("cost2:" + cost2);
                console.log("cost3:" + cost3);

                //        getMin(new Date("2016-11-18 7:00:00"), new Date("2016-11-18 9:00:00"))

                cost2 = cost2 >= dayprice ? dayprice : cost2;
                cost3 = cost3 >= dayprice ? dayprice : cost3;

                cost = cost2 + cost3;
            }

            return (cost1 + cost) * size;
        }

        function getStart(time) {
            var now = new Date(time.getFullYear() + '-' + (time.getMonth() + 1) + '-' + time.getDate() + ' 00:00:00');
            return now;
        }

        function getEnd(time) {
            var now = new Date(time.getFullYear() + '-' + (time.getMonth() + 1) + '-' + time.getDate() + ' 24:00:00');
            return now;
        }

        function getTime(time, hms) {
            var now = new Date(time.getFullYear() + '-' + (time.getMonth() + 1) + '-' + time.getDate() + ' ' + hms);
            return now;
        }

        function getMin(t1, t2) {
            var time = Math.abs(t1.getTime() - t2.getTime());
            var min = parseInt(time / (60 * 1000));
            console.log("[get Min:]" + min);
            var result = Math.ceil(min / 15);
            return result;
        }

        //计算当日收费

        function calcCost2(s, e) {
            console.log(s);
            console.log(e);
            var t1 = getTime(s, time1);
            var t2 = getTime(s, time2);

            if (s.getTime() <= t1.getTime() && e.getTime() >= t2.getTime()) {
                console.log(1);
                return getMin(t2, t1) * price1 + getMin(e, t2) * price2 + getMin(t1, s) * price2;
            } else if (s.getTime() <= t1.getTime() && e.getTime() <= t2.getTime() && e.getTime() >= t1.getTime()) {
                console.log(2);
                return getMin(t1, s) * price2 + getMin(e, t1) * price1;
            } else if (s.getTime() >= t1.getTime() && s.getTime() <= t2.getTime() && e.getTime() >= t2.getTime()) {
                console.log(3);
                return getMin(t2, s) * price1 + getMin(e, t2) * price2;
            } else if (s.getTime() >= t1.getTime() && s.getTime() <= t2.getTime() && e.getTime() >= t1.getTime()
                && e.getTime() <= t2.getTime()) {
                console.log(4);
                console.log("price1" + price1);
                return getMin(e, s) * price1;
            } else if (e.getTime() <= t1.getTime()) {
                console.log(5);
                return getMin(e, s) * price2;
            } else if (s.getTime() >= t2.getTime()) {
                console.log(6);
                return getMin(e, s) * price2;
            }
        }

        /**
         * 计算每日收费
         * @param in_time
         * @param out_time
         * @returns {number}
         */
        function calcCost1(in_time, out_time) {
            //        console.log("[in_time]" + in_time);
            //        console.log("[out_time]" + out_time);
            //计算两个日期差的天数
            var days = out_time.getTime() - in_time.getTime();
            var time = parseInt(days / (1000 * 60 * 60 * 24));
            console.log("day diff:" + time);

            if (time >= 0) {
                return dayprice * time;
            } else {
                return 0;
            }
        }

    </script>

</html>