<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="main-header-a-h1">停车场后台管理系统</h1>
            </div>
        </div>
    </div>
</header>

<div class="col-sm-12" align="center">
    <br>
    <a href="/home/admin/parkinglist" class="btn btn-primary btn-doc pms-a">车位管理</a>
    <a href="/home/admin/setmoney" class="btn btn-primary btn-doc pms-a">设置收费</a>
    <a href="/home/admin/income" class="btn btn-primary btn-doc pms-a">停车记录</a>
    <a href="/home/admin/work" class="btn btn-primary btn-doc pms-a">工作记录</a>
    <a href="/home/admin/stafflist" class="btn btn-primary btn-doc pms-a">员工管理</a>
    <a href="/home/admin/changepassword" class="btn btn-primary btn-doc pms-a">修改密码</a>
    <a href="/home/admin/logout" class="btn btn-danger pms-a">退出登录</a>
</div>